/* Content First - Mobile first */
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Poppins');
    /* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Roboto','century gothic','calibri',sans-serif;
        scroll-behavior: smooth;
    }
        /* Margenes */
        body,
        h1,
        h2,
        h3,
        h4,
        header p{
            margin: 0;
        }
        /* Estilos */
        nav a,
        footer a{
            text-decoration: none;
        }
    /* Cabecera */

    /* Navegacion */

    /* Contenido */

    /* Pie de Pagina */

/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */

/* XXL Devices - HD Desktop */
