/* Content First - Mobile first */
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Poppins');
    /* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Roboto','century gothic','calibri',sans-serif;
        scroll-behavior: smooth;
    }
        /* Margenes */
        body,
        h1,
        h2,
        h3,
        h4,
        header p,
        .menu{
            margin: 0;
        }
        /* Rellenos */
        .menu{
            padding: 0;
        }
        /* Estilos */
        nav a,
        footer a{
            text-decoration: none;
        }
        .menu{
            list-style: none;
        }
    /* Cabecera */

        .banner {
           color: rebeccapurple;
           text-align: center;
           background-color: rgb(223, 223, 223);
           background-image: url(../images/git.png);
           background-size: contain;
           background-repeat: no-repeat;
        }

    /* Navegacion */
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: .5rem;
            background: linear-gradient(to right,#c36, #448);
        }
        nav a{
            color: #eee;
        }
        .menu{
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: all .5s linear;
        }
        .menu.active{
            max-height: 100vh;
        }
        [class*="btn"]{
            color: #eee;
            border-radius: .25rem;
            border: 1px solid;
            background-color: transparent;
            font-size: 1.25rem;
        }
        [class*="btn"]:hover{
            color:#448;
            background-color: #eee;
        }
        .btn-open::before{
            content:'\2630';
        }
    /* Contenido */

    /* Pie de Pagina */
    
        /* Redes sociales */

        /* Colaboradores */
        table{
            margin: 1rem auto;
            border-collapse: collapse;
            box-shadow: 0 0 .5rem;
        }
        th,
        td,
        table caption{
            border: 2px solid #c36;
            padding: .5rem 1rem;
        }
        table caption{
            border-radius: .25rem .25rem 0 0;
            border-bottom: 0;
            color: #eee;
            background-color: #c36;
        }
        th{
            background-color: #c366;
        }
        /* Copyright */

/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */

/* XXL Devices - HD Desktop */
