/* Content First - Mobile first */
    @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Poppins');
    /* Reglas Generales */
    *{
        box-sizing: border-box;
        font-family: 'Roboto','century gothic','calibri',sans-serif;
        scroll-behavior: smooth;
    }
        /* Margenes */
        body,
        h1,
        h2,
        h3,
        h4,
        header p,
        .menu{
            margin: 0;
        }
        /* Estilos */
        nav a,
        footer a{
            text-decoration: none;
        }
    /* Cabecera */

    /* Navegacion */
        .menu{
            display: flex;
            justify-content: space-around;
            padding: .5rem;
            background: linear-gradient(#ccc, #248);
            list-style: none;
        }
        .menu a{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #eee;
            text-shadow: 0 0 .5rem #333;
        }
        .menu a::before{
            font-size: 2rem;
            line-height: 1.5;
        }
        .home::before{
            content: '🏠';
        }
        .about::before{
            content: '🌁';
        }
        .gallery::before{
            content: '📷';
        }
        .contact::before{
            content: '✉️';
        }
    /* Contenido */

    /* Pie de Pagina */

/* Small Devices - Smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */

/* XXL Devices - HD Desktop */
