/*Content First - Mobile First*/
    /*Reglas Generales*/
    *{
        box-sizing: border-box;
        font-family: 'century gothic', 'calibri', 'segoe ui', sans-serif;
    }
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    /*Clases especiales*/
    .logo{
        font-weight: bold;
        text-transform: uppercase;
    }
    .btn{
        cursor: pointer;
        margin: .5rem;
        border: .1rem solid #eee;
        color:#eee;
        background-color: transparent;
    }
    .btn:hover{
        color:#63c;
        background-color: #eee;
    }
    /*Navegacion*/
    nav{
        position: sticky;
        top: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: linear-gradient(-45deg, #c36, #63c)
    }
    nav a{
        display: block;
        padding:.5rem;
        color:#eee;
        text-decoration: none;
    }
    .menu{
        max-height: 0;
        width: 100%;
        padding:0;
        list-style: none;
        overflow: hidden;
    }
    .menu.active{
        max-height: 600px;
    }
    .menu a:hover{
        background-color: #3338;
    }
    /*Cabecera*/
    header{
        height: 100vh;
        max-height: 640px;
        display: grid;
        align-content: center;
        text-align: center;
        color:#eee;
        background-color: #333;
        font-size: min(calc(2vw + .8rem), 5rem);
        text-shadow: 0 0 2vw #eee;
    }
    h2{
        margin: -1rem -1rem .25rem;
        border-radius: .25rem .25rem 0 0;
        padding: 1rem;
        color:#eee;
        text-align: center;
        text-shadow: 0 0 .5rem #333;
        background: linear-gradient(to right, #c36, #63c);
    }
    h3{
        padding: .25rem;
        border-bottom: .1rem solid #999;
    }
    /*Contenido Principal*/
        section{
            margin: 1rem;
            border-radius: .25rem;
            padding: 1rem;
            box-shadow: 0 0 .5rem #333;
        }
        .commands{
            position: relative;
            margin: 1rem;
            margin-left: 2rem;
            padding: 1rem 2rem;
            background-color: #eee;
            line-height: 1.5rem;
            list-style: none;
        }
        .commands::before{
            content: '';
            position: absolute;
            top: 0;
            left:0;
            bottom:0;
            width: .25rem;
            background: linear-gradient(#c36, #63c)
        }
    /*Pie de Pagina*/
        footer{
            position: relative;
            padding: 5rem 1rem 1rem;
            overflow: auto;
            background-color: #63c8;
        }
    /*Mapa de Contacto*/
        .map iframe{
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            border: none;
            z-index: -1;
        }
        .map .btn{
            position: absolute;
            top: .5rem;
            right: .5rem;
            min-width: 3rem;
            font-size: 2rem;
            box-shadow: 0 0 .5rem #333;
        }
        .icon-max::before{
            content: '+'
        }
        .icon-min::before{
            content:'-'
        }
        .map iframe.active,
        .map .icon-min{
            position: fixed;
            opacity: .8;
            z-index: 2;
        }
    /*Repositorios*/
    .social{
        display: flex;
        justify-content: center;
    }
    .social a{
        position: relative;
        margin:.25rem;
        border-radius: .25rem;
        padding: .5rem;
        color:#eee;
        background-color: #333;
        text-decoration: none;
    }
    .social a:hover{
        bottom: .25rem;
        background-color: #666;
        box-shadow: 0 0 .5rem #333;
    }
    /*Colaboradores*/
    .colabs caption{
        border-radius: .25rem .25rem 0 0;
        background-color: #c36;
    }
    .colabs{
        margin: 0 auto 1rem;
        border-collapse: collapse;
        color:#eee;
        text-shadow: 0 0 .25rem #333;
        background: linear-gradient(#c36, #63c);
        box-shadow: -.5rem .5rem 1rem .5rem #666; /*-x+ -y+ blur color*/
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .5rem;
    }
    .colabs tbody tr:nth-child(odd){background-color: #eee3;}
    .colabs tbody tr:nth-child(even){background-color: #9993;}
    /* Contacto */
    #contact{
        max-width: 540px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1rem auto;
        border-radius: .25rem;
        padding: 1rem;
        color:#eee;
        background: linear-gradient(to right, #c36, #63c);
    }
    #contact label{
        width:100%;
        text-align: center;
    }
    #contact input{
        width:80%;
        border-radius: .25rem 0 0 .25rem;
        border: .1rem solid #eee;
        padding: .25rem .5rem;
        outline: none;
    }
    #contact button{
        border-radius: 0 .25rem .25rem 0;
        border: .1rem solid #eee;
        color: #eee;
        background-color: transparent;
    }
    #contact button:hover{
        color: #c36;
        background-color: #eee;
    }
/*Small devices - Smartphones */
    @media screen and (min-width: 576px){
        section{
            max-width: 540px;
            margin: 1rem auto;
        }
    }
/*Medium devices - Tablets*/
    @media screen and (min-width: 768px){
        nav .btn{
            display: none   ;
        }
        .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
        section{
            max-width: 720px;
        }
    }
/*Large devices - Desktop */
    @media screen and (min-width: 992px){
        section{
            max-width: 960px;
        }
    }
/*Extra Large devices - HD Desktop*/
    @media screen and (min-width: 1200px){
        nav{
            justify-content: space-around;
        }
    }